<!--This is the HTML Page for the forgotten password -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-item><!--check box if the Account password is forgotten-->
    <ion-label>Account Password</ion-label>
    <ion-checkbox
      [(ngModel)]="user.account"
      (click)="checkBox()"
      value="account"
      color="primary"
    ></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>PIN</ion-label><!--check box if the PIN is forgotten-->
    <ion-checkbox
      [(ngModel)]="user.pin"
      (click)="checkBox()"
      value="pin"
      color="primary"
    ></ion-checkbox>
  </ion-item>
  <ion-item> <!--input field for the user email-->
    <ion-input  
      [(ngModel)]="user.email"
      placeholder="Your Email Address"
    ></ion-input>
  </ion-item>

  <ion-button (click)="getInfo()" color="secondary" expand="full"
    >continue</ion-button
  >
  <br />

  <div id="account"> <!--Security question-->
    <ion-label [innerHTML]="account"></ion-label> 
    <ion-item>
      <ion-input
        [(ngModel)]="user.securityAnswer"
        placeholder="Your Answer"
      ></ion-input>
    </ion-item>
    <ion-button (click)="sendEmail()" color="primary" expand="full"
      >Get Password</ion-button
    >
  </div>

  <div id="PIN">
    <ion-label style="text-align: center;"
      >Please insert the Lock Default PIN</ion-label
    >
    <ion-item> <!--Enter Default PIN-->
      <ion-input
        [(ngModel)]="user.newPIN.defaultPin"
        placeholder="Default PIN"
        type="Password"
      ></ion-input>
    </ion-item>
    <ion-item>
          <!--Enter new PIN-->
      <ion-input
        [(ngModel)]="user.newPIN.newPIN" 
        placeholder="New PIN"
        type="Password"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [(ngModel)]="user.newPIN.confirmPIN"
        placeholder="Confirm New PIN"
        type="Password"
      ></ion-input>
    </ion-item>
    <ion-button (click)="updatePIN()" color="primary" expand="full"
      >Change PIN</ion-button
    >
  </div>
</ion-content>
