<!--This is the HTML for the first step of registration (Sign UP PAGE) -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
  <ion-title>
  
  </ion-title>
  
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--input fields for the default PIN Combination-->
  <ion-item class="pinItem">
    <ion-input class="pin" [(ngModel)]="user.pin1" placeholder="0" type="Password" maxlength="1" (keyup)="nextDigit(pin2)"></ion-input>
    <ion-input class="pin" [(ngModel)]="user.pin2" placeholder="0" type="Password" #pin2 maxlength="1" (keyup)="nextDigit(pin3)"></ion-input>
    <ion-input class="pin" [(ngModel)]="user.pin3" placeholder="0" type="Password"  #pin3 maxlength="1" (keyup)="nextDigit(pin4)"></ion-input>
    <ion-input class="pin" [(ngModel)]="user.pin4" placeholder="0" type="Password"  #pin4 maxlength="1"(keydown)="nextDigit(pin4)"></ion-input>
  </ion-item>


  <!--Logo-->
 <img id="lockImg" src="../../assets/logos/Alogo1.png" style=" 
  position: absolute;
  opacity: 0.1;
  top: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  right: 50%;
  left: 25%;" >

<!--button to submit-->
  <ion-button size="large" (click)= "enterDefaultPIN()" style="  
  box-shadow: 0px 14px 25px cornflowerblue;
  font-size: 34px;
  border-radius: 50px; 
  position: absolute;
  top: 70%;  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  right: 50%;
  left: 25%;" 
 ><ion-icon name="lock-open-outline"style="font-size: 64px;"></ion-icon></ion-button>
 
</ion-content>
